services:
  proxy:
    build:
      context: ./proxy
    container_name: proxy
    ports:
      - "5557:5557"
      - "5558:5558"

  server:
    build:
      context: ./server
    deploy:
      replicas: 3
    depends_on:
      - proxy

  client:
    build:
      context: ./client
    container_name: client
    stdin_open: true
    tty: true
    depends_on:
      - proxy
      - server